mongo-data/
node_modules/
rasperry/mosquitto/data/
rasperry/mosquitto/data/**/*
rasperry/mosquitto/log/
rasperry/mosquitto/log/**/*
infra/edge/nodered-data/
code/mosquitto/data/
code/mosquitto/log/
volumes/
venv/
__pycache__/
.npm
.vscode/
.env
.env.*
*.log